<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/header.ejs')%>

<body>

    <%- include('./partials/nav.ejs')%>


    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, beatae quidem dolorum assumenda doloribus in! Nostrum eaque voluptatem delectus totam, aspernatur dolores sapiente accusantium natus quis quod reprehenderit suscipit dolorum impedit fugit quos tenetur perferendis at dolor ut ad atque modi hic cum voluptatibus. Voluptatem quae assumenda id vero a.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel numquam sit laborum. Repellendus magnam nam eum distinctio enim! Atque ut perspiciatis itaque vero modi maiores veritatis dolorem, sunt suscipit voluptatem.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi totam iusto alias cupiditate. Incidunt qui expedita excepturi libero est distinctio!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
    
</body>
</html>